{% extends '::base.html.twig' %}

{% block body %}


    {% block header %}

    {% endblock %}

        {% block content %}

            <h1>Choisissez 2 équipes :</h1>

            {#{{ form_start(search_form) }}#}
            {#{{ form_widget(search_form) }}#}
            {#<input type="submit" value="Search" />#}
            {#{{ form_end(form) }}#}

        {% endblock %}


    {% block footer %}

    {% endblock %}


{% endblock %}
