
<body>





Vous avez reçu un mail de {{ contact.nom }}.<br />
Son mail : {{ contact.email }} <br /><br />

Le sujet du message: {{ contact.sujet }}
<br />
Le message : <br />
{{ contact.message }}



</body>