<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Hope you love Quidditich !{% endblock %}</title>
            {% block stylesheets %}
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
            {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/quidditch.ico') }}">
    </head>
    <header>
        <div class="container">
        {% block header %}
        {% endblock %}
        </div>
    </header>
    <body>
        <div class="container">
        {% block body %}
        {% endblock %}
        </div>

        {% block footer %}
            <p class="text-center">LE QUIDDITCH CE N'EST PAS MA TASSE DE THÉ ET POURTANT ... MERCI LES FORMATEURS DE LA WCS !</p>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>